.footer-area {
    overflow: hidden;
    background-color: navy;
}
.footer-area li{
    padding-bottom: 10px;
}
.footer-area li a{
    text-decoration: none;
    color: white;
} 
.social-media .icon{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}
.social-media .active-icon{
    background-color: white;
    color:white;
}